*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
}
#key_press{
    margin-top:1rem;
    background-color: lightblue;
    color:gray;
    font-size: larger;
    font-weight: 600;
    padding:2rem 3rem;
    border: none;
}
.info{
    padding:1rem;
    color:white;
    background-color: blueviolet;
    font-weight:600;
    font-size:large;
    position:fixed;
    bottom:-10rem;
    z-index:-1;
    text-align: center;
    display: block;
    transition: 2s;
}
.show_info{
    /* right:30rem; */
    bottom:15rem;
   
}